@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cantata+One&family=Inknut+Antiqua:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    display: inline-block;
}

.hero {
    height: 100vh;
    background-image: url(../img/montanha.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:auto;
}

.fundo {
    height: auto;
    width: auto;
    overflow: auto;
    background-image: url(../img/montanha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
    margin: 10%;
    margin-top: 5%;
}

.home-content span {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--bg-color)
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
}

.home-content p {
    position: relative;
    font-size: 1.8rem;
    margin: 2rem 0 4rem;
    color: var(--bg-color);
}

.home-sci {
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--second-bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a i {
    color: var(--second-bg-color);
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}


.home-sci a:hover::before {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.card-header {
    background: #202020;
    margin-left: -10px;
    border-bottom: 2px solid black;

}

.card-header h3 {
    margin-left: 100px;
    color: white;
    font-size: 40px;
    padding: 10px;
}

.card-header h3 i {
    margin-right: 20px;
}

.fomulario {
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
}

.fomulario input {
    border-radius: 5px;
}

.alterar {
    font-family: 'Inknut Antiqua', serif;
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background: linear-gradient(to right, rgb(0, 183, 255), rgb(178, 227, 250));
    cursor: pointer;
    box-shadow: 4px 3px 5px black;
}

.alterar:hover {
    background: rgb(0, 183, 255);
}

.for input {
    border-radius: 10px;
}

.form-group label {
    color: black;
}

.opcoes {
    margin-left: 80px;
}

.opcoes a {
    color: black;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 24px;
    width: 100%;
}

.opcoes a i {
    margin-left: 20px;
    margin-right: 20px;
}

.config:hover {
    background: #b3b3b3;
}

.con {
    margin-left: 80px;
    background: #202020;
    border-top: 1px solid rgb(255, 0, 119);
}

.deco {
    width: 50%;
    margin-left: 100px;
    color: black;
}

.deco form {
    font-size: 20px;
}

.deco form a {
    color: black;
    padding: 10px;
    text-decoration: underline;
}

.pai {
    margin-left: 90px;
}

.fundo-perfil {
    height: 100%;
    background: #112e42;
}

.card {
    margin: 3% auto auto auto;
    padding: 20px 0px 40px 40px;
    width: 600px;
    background: #081b29;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #00abf0;
    opacity: 90%;
    box-shadow: 10px 15px 5px #00161f;
}

.bonito {
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.bonito:hover {
    color: white;
}

.bonito a {
    font-size: 15px;
    color: white;
    margin-top: 4px;
    margin-left: 10px;
    text-decoration: underline;
}

.bonito a:hover {
    color: yellow;
}

.card-header {
    padding: 10px;
    background: #202020;
    margin-left: -10px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.card-header span {
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.card-header span a {
    color: white;
    text-decoration: underline;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-header span a:hover {
    color: yellow;
}

.card-header span a i {
    margin-left: 10px;
}

.card-header h3 {
    color: white;
    font-size: 40px;
    align-items: center;
}

.card-header h3 i {
    margin-right: 10px;
}

.img img {
    display: flex;
    max-width: 230px;
    border: 2px solid #00abf0;
    border-radius: 50px;
    margin: 0;
}

.card-body table tbody div {
    margin-left: -5px;
    display: flex;
    z-index: 10;
}

.nome {
    font-size: 30px;
    color: white;
    display: flex;
    z-index: 10;
}

.span span {
    font-size: 25px;
    text-decoration: underline;
    color: white;
    margin-left: 20px;
}

.about-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-right: .2rem solid var(--main-color);
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.containerr{
    width: 100%;
    height: 100%;
    font-size: 20px;
    opacity: 90%;
}

.login-screen {
    width: 300px;
    background: linear-gradient(#112e42, #00abf0);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 50px;
    color: #fff;
    align-items: center;
    line-height: 50px;
}


.containerr input{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 50px;
}

.containerr button{
    font-family: 'Inknut Antiqua', serif;
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background: linear-gradient(to right, rgb(0, 183, 255), rgb(178, 227, 250));
    cursor: pointer;
}

.containerr button:hover{
    background: rgb(0, 183, 255);
}

.containerr a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

.description {
    color: lightgray;
    font-size: 13px;
    margin-top: 50px;
}

.container{
    color: black;
    font-size: 18px;
}

.container input {
    margin: 0 auto;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

.div-botao{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container a{
    color: black;
    text-decoration: underline;
    margin-top: 10px;
}

.container button{
    font-family: 'Inknut Antiqua', serif;
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    background: linear-gradient(to right, rgb(0, 183, 255), rgb(178, 227, 250));
    cursor: pointer;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #00abf0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 5;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: white;
    font-size: 34px;
    cursor: pointer;
    margin-bottom: 10px;
}

.css-ul {
    height: 100%;
    list-style-type: none;

}

.css-ul li.item-menu{
    transition: .2s;
}

.css-ul li.ativo{
    background-color: #00abf0
    ;
}

.css-ul li.item-menu:hover{
    background: #00abf0;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 7px;

}

.buscar {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.buscar input {
    width: 90%;
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    border: 1px solid #ddd;
    margin: 15px;
    border-radius: 5px;
    margin-left: 100px;
}

#listaLivros {
    display: block;
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#listaLivros li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 12px;
    border-top: 1px solid black;
}

.item-name {
    margin-left: 15px;
}

#listaLivros li a:hover {
    color: #00abf0;
}

.img-alinhar {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 30px;
    display: inline-block;
}


.h3-teste {
    color: black;
    margin-left: 120px;
    text-decoration: underline;
}

.h3-teste:hover {
    color: red;
}

.h4-harry {
    color: black;
    margin-left: 30px;
    text-decoration: underline;
}

.h4-harry:hover {
    color: aqua;
}


@media(max-width: 1200px){
    html{
        font-size: 80%;
    }
}


@media (max-width: 768px) {

    .home-sci a{
        border: .2rem solid black;
    }

    .home-sci a i {
        color: black;
    }

    .home-content{
        width: 50%;
        margin-left: 100px;
    }

    .home-content span{
        font-size: 60px;
    }

    .home-content .text-animate h3{
        font-size: 35px;
    }

    .alinhamento-imagem {
        margin-left: -25px;
        margin-bottom: 60px;
    }
    
    .tes{
        margin-left: 100px;
    }

    .img-alinhar{
        width: 120px;
    }

    #listaLivros {
        width: 80%;
        margin-right: 50px;
    }
    
    #listaLivros li a {
        font-size: 14px;
    }
    
    .buscar input {
        width: 80%;
    }

    .config {
        font-size: 14px;
    }
    
    .h3 {
        font-size: 30px;
    }

    .card {
        width: 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .card img {
        margin-left: 25px;
    }
    
    .about-img .circle-spin {
        margin-left: 14px;
    }
    
    .nome {
        font-size: 20px;
        margin-left: -15px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .card-header h3 {
        font-size: 30px;
        margin-top: 10px;
        align-items: center;
    }
    
    .bonito {
        font-size: 20px;
    }
    
    .bonito a {
        font-size: 10px;
    }
    
    .span span {
        font-size: 20px;
        flex-direction: column;
        text-align: center;
        margin-left: -5px;
    }

}

@media(max-width: 520px) {
    .home-content span {
        font-size: 40px;
    }

    .home-content .text-animate h3 {
        font-size: 25px;
    }

    .home-content p{
        font-size: 20px;
    }

    .card-header h3 {
        font-size: 30px;
    }
    
    .deco button {
        font-size: 15px;
    }
    
    .form-group input {
        font-size: 15px;
    }

    .card {
        width: 250px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .card img {
        margin-left: -7px;
    }
    
    .about-img .circle-spin {
        margin-left: -2px;
    }
    
    .card-header span {
        font-size: 20px;
    }
    
    .card-header span a {
        font-size: 14px;
    }
    
    
    .nome {
        font-size: 15px;
        margin-left: -15px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }
    
    .span span {
        flex-direction: column;
        text-align: center;
        margin-left: -5px;
    }

}

@media(max-width: 462px) {
    .buscar input {
        width: 70%;
    }

    .card-header h3{
        font-size: 40px;
    }

    .card-header span {
        display: none;
    }

    .card{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .nome {
        margin-left: -25px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .span span {
        flex-direction: column;
        text-align: center;
        margin-left: -5px;
    }
}

.bonito{
    color: white;
    font-size: 15px;
    text-decoration: underline;
    margin-left: 10px;
}

.bonito:hover{
    color: red;
}

@media(max-width: 371px) {
    .card-header h3 {
        font-size: 20px;
    }

    .opcoes a {
        font-size: 20px;
        margin-left: -10px;
    }

    .deco form a {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 15px;
        margin-left: -10px;
    }

    .card img {
        margin-left: -76px;
    }
    
    .about-img .circle-spin {
         margin-left: -38px;
    }

    .card{
        width: 200px;
    }

    .span span{
        font-size: 15px;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%)rotate(360deg);
    }
}