{% extends 'paginas/index.html' %}
{% load static %}
{% block conteudo %}
    <div class="buscar">
        <input id="inputBusca" type="text" placeholder="Pesquisar peça" onkeyup="filtrar()">
        <ul id="listaLivros" style="margin-left: 90px;">

            <li class="livros">
                <a href="#"><img width="300px" src="{% static 'img/monitor.jpg' %}" class="img-alinhar" alt="">
                <span class="item-name">Monitor Gamer Samsung 22"  75Hz, Preto, Série T350</span></a>
            </li>

            <li class="livros">
                <a href="#"><img width="300px" src="{% static 'img/gabinete.jpg' %}" class="img-alinhar" alt="">
                <span class="item-name">Gabinete Gamer DT3 Hyperspace</span></a>
            </li>

            <li class="livros">
                <a href="#"><img width="300px" src="{% static 'img/placa-de-video-rtx.jpg' %}" class="img-alinhar" alt="">
                <span class="item-name">RTX3060 12GB</span></a>
            </li>

        </ul>
    </div>
<script defer src="{% static 'js/pesquisa.js' %}"></script>
{% endblock %}