{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link defer rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <main class="fundo">
        <div class="container">
            <div class="col-md-4 mx-auto">
                <form action="" method="POST">

                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="div-botao">
                        <button type="submit">Registrar</button>
                        <a href="{% url 'login' %}" >Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>